body{

font-family:sans-serif;
background:#ffffff;
color:#333;
margin:0;
line-height:1.7;

}

header{

text-align:center;
padding:20px;
border-bottom:1px solid #eee;

}

nav a{

margin:10px;
text-decoration:none;
color:#333;

}

main{

max-width:800px;
margin:auto;
padding:20px;

}

.card{

border:1px solid #eee;
padding:15px;
margin-bottom:20px;
border-radius:10px;

}

.card:hover{

background:#fafafa;

}

footer{

text-align:center;
padding:20px;
color:#777;
font-size:14px;

}

@media(max-width:600px){

main{
padding:15px;
}

}